.faq_main_container {
    padding: 80px;
}

.faq_sub_container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq_sub_container h2 {
    color: #333;
    font-size: 40px;
}

.faq_sub_container > .tab {
    position: relative;
    background-color: #f5f8ff;
    padding: 0 20px 20px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.05);
    border-radius: 8px;
    overflow: hidden;
}

.faq_sub_container > .tab > input {
    appearance: none;
}

.faq_sub_container > .tab > label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.faq_sub_container > .tab > label::after {
    content: "+";
    position: absolute;
    right: 20px;
    font-size: 2em;
    color: rgba(0,0,0,0.1);
    transition: transform 1s;
}

.faq_sub_container > .tab:hover > label::after {
    color: #333
}

.faq_sub_container > .tab > input:checked ~ label::after {
    transform: rotate(135deg);

}

.faq_sub_container > .tab > label > h3 {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    color: #fff;
    font-size: 1.25em;
    border-radius: 8px;
    margin-right: 10px;
    flex-shrink: 0;
}

.faq_sub_container > .tab > label > h4 {
    position: relative;
    font-weight: 500;
    color: #333;
    z-index: 10;
    font-size: 22px;
    margin-right: 25px;
}

.faq_sub_container > .tab > .content {
    max-height: 0;
    transition: 1s;
    overflow: hidden;
}

.faq_sub_container > .tab > input:checked ~ .content {
    max-height: 100vh;
    font-size: 19px;
}

.faq_sub_container > .tab > .content > p {
    position: relative;
    padding: 10px 0;
    color: #333;
    z-index: 10;
}

@media (max-width: 650px) {
    .faq_main_container {
        padding-inline: 20px;
    }

    .faq_sub_container h2 {
        font-size: 30px;
    }

    .faq_sub_container > .tab > label > h3 {
        font-size: 18px;
    }

    .faq_sub_container > .tab > label > h4 {
        font-size: 19px;
    }

    .faq_sub_container > .tab > .content > p {
        font-size: 15px;
    }
}